- title "Pomysły"

:css
  .idea {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  #new_idea {
    background-color: #FCF8E3;
  }
  
  #new_idea {
    padding-bottom: 8px;
  }

%p= link_to "Dodaj pomysł", new_idea_path, class: "btn btn-primary btn-large", id: "new_link", remote: true

#ideas
  = render @ideas
