<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś poprosił o link do zmiany Twojego hasła. Kliknij poniższy link, aby zmienić swoje hasło.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jeśli to kto inny poprosił o zmianę hasła, prosimy o zignorowanie tego emaila.</p>
<p>Twoje hasło nie zmieni się, dopóki nie użyjesz powyższego linka, żeby utworzyć nowe.</p>
